NYLAS_API_KEY=
NYLAS_GRANT_ID=
GROQ_API_KEY=
USER_TIMEZONE=Asia/Kolkata
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_BASE_URL=https://cloud.langfuse.com
LANGFUSE_TRACING_ENVIRONMENT=development
DATABASE_URL=sqlite+aiosqlite:///./workday.db
